<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.userManager.user.mapper.DistrictMapper" >
    <resultMap id="BaseResultMap" type="com.userManager.user.entity.District" >
        <result column="ID" property="id" jdbcType="INTEGER" />
        <result column="CODE" property="code" jdbcType="VARCHAR" />
        <result column="NAME" property="name" jdbcType="VARCHAR" />
        <result column="SORT_NUM" property="sortNum" jdbcType="INTEGER" />
        <result column="PARENT_CODE" property="parentCode" jdbcType="VARCHAR" />
        <result column="DEL_FLAG" property="delFlag" jdbcType="INTEGER" />
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
        <result column="CREATOR" property="creator" jdbcType="INTEGER" />
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="MODIFIER" property="modifier" jdbcType="INTEGER" />
    </resultMap>

    <!-- 定义查询的字段 -->
    <sql id="Base_Column_List" >
        A.ID,
        A.CODE,
        A.NAME,
        A.SORT_NUM,
        A.PARENT_CODE,
        A.DEL_FLAG,
        A.CREATE_TIME,
        A.CREATOR,
        A.UPDATE_TIME,
        A.MODIFIER
    </sql>

    <select id="getListByIdList" parameterType="list" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
          FROM DISTRICT A
         WHERE ID IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND FLAG = ${@com.suntek.Ognl@getFalseType()}
    </select>

    <select id="getMaxCodeByParentCode" parameterType="String" resultType="String">
        SELECT MAX(CODE)
          FROM DISTRICT
         WHERE PARENT_CODE = #{parentCode}
    </select>

    <select id="getMaxSortNumByParentCode" parameterType="String" resultType="Int">
        SELECT MAX(SORT_NUM)
          FROM DISTRICT
         WHERE PARENT_CODE = #{parentCode}
    </select>

    <update id="updateSonCode">
        UPDATE DISTRICT
           SET CODE = CONCAT(#{newParentCode}, SUBSTRING(CODE, LENGTH(#{oldParentCode}) - LENGTH(CODE))),
               PARENT_CODE = CONCAT(#{newParentCode}, SUBSTRING(PARENT_CODE, LENGTH(#{oldParentCode}) - LENGTH(PARENT_CODE)))
         WHERE PARENT_CODE LIKE #{oldParentCode, typeHandler=LeftLikeHandler}
    </update>

    <update id="updateOtherNodeSort">
        UPDATE DISTRICT
           SET SORT_NUM = SORT_NUM + #{increaseCount}
         WHERE SORT_NUM >= #{startSortNum}
  <![CDATA[AND SORT_NUM <= #{endSortNum}]]>
           AND PARENT_CODE = #{parentCode}
    </update>
</mapper>