<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.userManagerauth.mapper.RoleAuthMapper" >
    <resultMap id="BaseResultMap" type="com.userManagerauth.entity.RoleAuth" >
            <result column="AUTH_ID" property="authId" jdbcType="INTEGER" />
            <result column="ROLE_ID" property="roleId" jdbcType="INTEGER" />
    </resultMap>

    <!-- 定义查询的字段 -->
    <sql id="Base_Column_List" >
            A.AUTH_ID,
            A.ROLE_ID
    </sql>

    <select id="getListByIdList" parameterType="list" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
          FROM ROLE_AUTH A
         WHERE ID IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND FLAG = ${@com.suntek.Ognl@getFalseType()}
    </select>
</mapper>